body {
  font-family: Arial, sans-serif;
  margin: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: #e6e4ff; */
  background-image: url(../images/background-china.jpg);
  background-size: 547px;
  background-position-x: -60px;
  background-position-y: 0;
  background-repeat: no-repeat;
}
h1 {
  margin: 0 0 20px 0;
}
input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 2px solid #600000;
  margin-top: 10px;
  outline: none;
}

button {
  padding: 11.6px 20px;
  font-size: 16px;
  cursor: pointer;
  max-width: 200px;
  background-color: #600000;
  border: none;
  border-radius: 12px;
  color: white;
}

#result p {
  margin: 10px 0;
}

.hidden {
  display: none;
}
